@model FanSite.Models.UserStory
@{
    ViewData["Title"] = "Comments";
    Layout = "_ListLayout";
}

<h1>@ViewBag.Test</h1>
<h1>Add your comment here.</h1>

<form asp-action="UserStory" method="post">
    <p>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </p>

    <p>
        <label asp-for="StoryComments"></label>
        <input asp-for="StoryComments" />
    </p>

    <button type="submit">Submit Comment</button>     

</form>

