
@{
    ViewData["Title"] = "More Information";
    Layout = "_DefaultLayout";
}

<!-- Placeholder text -->
<h1>Sources</h1>

<a asp-action="BooksAndPrint">Click to see additional print resources</a><br />
<a asp-action="OnlineResources">Click to see addition online resources</a>

