
@{
    ViewData["Title"] = "Submitted";
    Layout = "_DefaultLayout";
}

<h1>Thank you for you story</h1><br />
<!-- This sends user to the List of stories submitted by users-->
<a asp-action="ListStories">Click here to see all the other stories.</a>

